<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if page.calendered %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css' />
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css' media="print" />

<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js'></script>

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
       },
       eventSources: [
        {
        	{% assign evcount = 0 %}
            events: [ // put the array in the `events` property
            	{% for item in site.data.events %}
            	{% if evcount != 0 %}, {% endif %}
            	{% evcount | plus: 1 %}
                {
                 	ctr : {{evcount}},
                 	title: '{{item.title}}',
                    start  : '{{item.start}}'
                    {% if item.end %}, end  : '{{item.end}}'{% endif %}
                    {% if item.color %}, color  : '{{item.color}}'{% endif %}
                }
				{% endfor %}
            ]
        }
      	]
    })

});
</script>
{% endif %}
